/* Estilos header */
body {
    background-color: black !important;
}

h1 {
    text-align: center;
    color: white;
}

a {
    text-decoration: none !important;
}

.container,
.col,
.row {
    padding: 0px !important;
    text-align: center;
}

.contenido-header {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    grid-gap: 4px;
}

.enl-header {
    padding-top: 10px;
}

* {
    margin: 0px;
    padding: 0px;
}

ul,
ol {
    list-style: none;
}

.nav>li {
    float: left;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}

.nav li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color: #434343;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

.caja {
    background-color: white !important;
    border-radius: 20px !important;
    color: black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
}

.espltdvulture {
    margin-top: 30px;
    height: 300px !important;
}

.txtcaja {
    margin-top: 30px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.enlcaja {
    background-color: blue;
    width: 200px;
    border-radius: 20px;
}

.enlcaja a {
    color: white;
}

h2 {
    color: white;
    text-align: center;
}

.txtcaja {
    text-align: left;
}

.txtcaja h2 {
    color: black;
    text-align: left;
}

.txt-precio {
    text-align: right;
    margin-right: 20px;
}

@media screen and (max-width: 553px) {
    .caja {
        display: block;
    }

    .nav {
        margin-left: 11%;
        margin-right: 11%;
    }
}